<div class="center" >

<div class="furycard" style="padding: 50px;">

    <div style="text-align: center;">   <h1 _ngcontent-fny-c110="" class="display-4 mb-10">Welcome Back :)</h1>
        <p _ngcontent-fny-c110="" class="mb-30">Sign in to your account and enjoy unlimited perks.</p></div>
 
        <div class="p-fluid">
          <div class="p-field">
            <label for="firstname1">Firstname</label>
            <input id="firstname1" type="text" pInputText />
          </div>
          <div class="p-field">
            <label for="lastname1">Lastname</label>
            <input id="lastname1" type="text" pInputText />
          </div>
        </div>
        <div>
              <div class="p-field-checkbox">
            <p-checkbox
              name="city3"
              value="Chicago"
            
              inputId="city3"
            ></p-checkbox>
            <label for="city3">Keep me logged in</label>
          </div>
        </div>
      
      

</div>

</div>