@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,
h4,
h5 {
  margin-top: 5px;
  font-weight: 600;
}

html, body {
    height:100%;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background:  rgb(238, 238, 238);
   }
  
   header
   {
     background: white;
     box-sizing: border-box;
     display: block;
     padding: 10px 0px;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 9997;
     box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
   }



   section {
    display: -webkit-flex;
    display: flex;
  }
 
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: rgb(238, 238, 238);
    margin-top: 60px;
    min-height: 610px !important;
    font-size: 13px;

    color: #676a6c;
  
  }
  .foot
  {
    padding:10px ;
  }

  footer {
  

     width: 100%;
     background: #2a2a2a;
     text-align: center;
     height: 70px;
     padding: 13px;
     color:white;
   
   
  }
   /* menu hide and show button */
   
  .menu-btn
  {
    background-color:#4689EC;
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
    margin-top: -40px;
    display: block;
    margin-left: 115px;
  }
  .p-menubar {
    padding: 8px 35px !important;
   background: white !important;
    color: #495057;
  border:0px !important ;
  }
  .p-panelmenu .p-panelmenu-content
  {
border: 0px !important;
  }
  .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important;
  }

  .pad
  {
    padding:7px 18px 0px 87px;
  }
  .left
  {
float: left;
  }

  
  .right
  {
float:right;
  }
 
  /* scroll naviagation */
  * {
    scrollbar-width: thin;
    scrollbar-color:white;
  }
  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent;
  }
  *::-webkit-scrollbar-track {
    background: white;
  }
  *::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    box-shadow: inset 0 0 0 12px rgb(0 0 0 / 37%);
    border-radius: 12px;
  }
  input {
    border-radius: 0px !important;
    outline: 0 !important;
    border-width: 0 0 1px !important;
    border-color: rgb(187, 186, 186) !important;
  }
  input:focus {
    border-color: green !important;
    
  }
 
  .layout-wrapper
  {
      position: fixed;
      top:70px;
      transition: all .5s ease-in-out;
     
     
      height:550px;
      background-color: #2f4050 !important;
     
      overflow-y: auto;
     min-width: 200px;
      height: calc(100% - 70px);
   
  }
  .p-panelmenu .p-panelmenu-panel .p-panelmenu-header > a {
  
      background-color: #5da7ec !important;
      color:white !important;
      border: 0px;
  }
  
  .p-panelmenu:hover{
  
    background-color: #2f4050 !important;
   
}
  .p-panelmenu .p-panelmenu-header > a:focus {
   
    box-shadow: 0 0 0 0.0rem #2f4050 !important;
}
.p-panelmenu .p-panelmenu-header > a .p-panelmenu-icon {
    margin-right: 0.5rem;
    /* float: right; */
    position: absolute;
    right: 15px;
}
:host { 
  a.p-panelmenu-header-link.ng-tns-c63-0.ng-star-inserted {
    color: white !important;
    background-color:#18273C !important;
   
  }
}
  
  
  :host  div.p-panelmenu-content.ng-tns-c63-0  {
 
    
    background-color:  #2F4050 !important;
  }

  .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-
  {
    color:white !important;
  }
  .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
    color: #f8f9fa !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon {
    color: #f8f9fa !important;
}
.p-panelmenu .p-panelmenu-header.p-highlight > a {
    /* background-color: #2f3ad3  !important; */
    color: white !important;
}
.p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover {
    background: #2196f3ba  !important;
    border-color: #dee2e6  !important;
    color: #EEEEEE  !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:hover {
    background: #2196f3ba  !important;
    color: white !important;
}
.p-panelmenu .p-panelmenu-panel:first-child .p-panelmenu-header > a {
  border-top-right-radius: 0px !important; 
  border-top-left-radius: 0px  !important;
}
.p-panelmenu .p-panelmenu-panel:last-child .p-panelmenu-header:not(.p-highlight) > a {
  border-bottom-right-radius: 0px !important; 
   border-bottom-left-radius: 0px  !important;
}
/* menu class for hide and show with animation */
 .danger
  {
   
    
    left:0px;
    
  }
.actact
{
  
  transition: all .5s ease-in-out;
   
    margin-right: 0px ;
   

}
.actdec
{
  
  transition: all .5s ease-in-out;
    margin-left: 200px;
   
}

  .success
  {
     
  
      
      left:-260px

  }

  .p-menubar-button
  {
    display:none !important;
  }

  .furycard
  {
    border-radius: 4px ;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      position: relative;
      max-width: 100%;
      background: #fff;
      color: rgba(0,0,0,.87);
      box-shadow: 0 3px 1px -2px rgb(82 63 104 / 6%), 0 2px 2px 0 rgb(82 63 104 / 4%), 0 1px 5px 0 rgb(82 63 104 / 4%);
      padding: 10px ;
      margin-top: 16px;
      

  }
 
 

@media (max-width: 575.98px) { 
.search

{
display:none !important;
}
header{

background-color: pink;

}
.layout-wrapper
{
    min-width:160px  !important;
     z-index:100050
}
.menu-btn
{
    margin-left: 64px !important;
}
.actdec
{
        margin-left: 0px;
}
.pad{
    padding: 7px 8px 0px 8px;
}

 }
 .breakcard
{
  flex: 1 1 100%;
    box-sizing: border-box;

    max-height: 100%;
}
.breakcard2
{
  flex: 1 1 100%;
    box-sizing: border-box;
   
    max-height: 100%;
}
/* 
// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    header{

        background-color: orange;
        
        }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {


header{

    background-color: yellow;
    
    }


  }



/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 




    header{

        background-color: green;
        
        }
        
        .breakcard
        {
      
         
          flex: 1 1 calc(33.3333% - 10.6667px);
          box-sizing: border-box;
          margin-right: 16px;
          min-width: calc(33.3333% - 10.6667px);
        }
        .breakcard2
        {
         
          
          flex: 1 1 calc(50% - 8px);
          box-sizing: border-box;
          margin-right: 16px;
          min-width: calc(50% - 8px);
        }
      
        .card
        {
         
          flex-direction: row;
          flex: 1 0 auto;
          box-sizing: border-box;
          display: flex;
          place-content: stretch flex-start;
          align-items: stretch;
        }

 }
/* 
// Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


  .breakcard
  {

   
    flex: 1 1 calc(33.3333% - 10.6667px);
    box-sizing: border-box;
    margin-right: 16px;
    min-width: calc(33.3333% - 10.6667px);
  }
  .breakcard2
  {
   
    
    flex: 1 1 calc(50% - 8px);
    box-sizing: border-box;
    margin-right: 16px;
    min-width: calc(50% - 8px);
  }

  .card
  {
   
    flex-direction: row;
    flex: 1 0 auto;
    box-sizing: border-box;
    display: flex;
    place-content: stretch flex-start;
    align-items: stretch;
  }
 

 }

 @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }